@import "tailwindcss";

.navigationbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #333;
    padding: 0.5rem 1rem;
  }
  .navigationbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  .navigationbar a {
    color: white;
    text-decoration: none;
  }
  .navigationbar a:hover {
    text-decoration: underline;
  }
  