@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* [data-theme='night'] {
  --color-bg: #121212;
  --color-text: #c0c0c0;
  --color-primary: #0d6efd;
}

[data-theme='day'] {
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-primary: #b58900;
}

[data-theme='sunrise'] {
  --bg-gradient: linear-gradient(to bottom right, #f1ff84, #84ccff);
  --color-text: #ffffff;
  --color-primary: #0d6efd;
}

[data-theme='sunset'] {
  --bg-gradient: linear-gradient(to bottom right, #4b17cf, #ff6f00);
  --color-text: #c0c0c0;
  --color-primary: #b58900;
} */

[data-theme='day'] .themed-bg {
  background-image: linear-gradient(to bottom right, #ffffff, #e0e0e0);  
  color: #c0c0c0;
}
[data-theme='day'] .themed-element {
  background-image: linear-gradient(to bottom right, #fff, #fff);  
  color: #000;
}
[data-theme='day'] .themed-field {
  background-image: linear-gradient(to bottom right, #fff, #fff);  
  color: #000;
}
[data-theme='day'] .themed-text {
  color: #000;
}
[data-theme='day'] .themed-navbar {
  background-image: linear-gradient(to bottom, oklch(39.8% 0.195 277.366), oklch(39.8% 0.195 277.366));  
  color: #000;
}


[data-theme='night'] .themed-bg {
  background-image: linear-gradient(to bottom right, #111, #111);  
  color: #fff;
}
[data-theme='night'] .themed-element {
  background-image: linear-gradient(to bottom right, #161616, #161616);  
  color: #fff;
}
[data-theme='night'] .themed-field {
  background-image: linear-gradient(to bottom right, #222, #222);  
  color: #aaa;
}
[data-theme='night'] .themed-text {
  color: #fff;
}
[data-theme='night'] .themed-navbar {
  background-image: linear-gradient(to top, #225, #000);  
  color: #000;
}

[data-theme='sunrise'] .themed-bg {
  background-image: linear-gradient(to top left, #f2ff92, #54a9e6);
  color: #fff;
}
[data-theme='sunrise'] .themed-element {
  background-image: linear-gradient(to bottom right, #fff, #fff);  
  color: #000;
}
[data-theme='sunrise'] .themed-field {
  background-image: linear-gradient(to bottom right, #fff, #fff);  
  color: #000;
}
[data-theme='sunrise'] .themed-text {
  color: #000;
}
[data-theme='sunrise'] .themed-navbar {
  background-image: linear-gradient(to top, oklch(56.711% 0.15029 254.254),  oklch(78.745% 0.11075 252.451));  
  color: #000;
}

[data-theme='sunset'] .themed-bg {
  background-image: linear-gradient(to bottom right, #4b17cf, #ff6f00);
  color: #fff;
}
[data-theme='sunset'] .themed-element {
  background-image: linear-gradient(to bottom right, oklch(27.8% 0.033 256.848), oklch(27.8% 0.033 256.848));  
  color: #fff;
}
[data-theme='sunset'] .themed-field {
  background-image: linear-gradient(to bottom right, oklch(37.3% 0.034 259.733), oklch(37.3% 0.034 259.733));  
  color: #aaa;
}
[data-theme='sunset'] .themed-text {
  color: #fff;
}
[data-theme='sunset'] .themed-navbar {
  background-image: linear-gradient(to bottom, oklch(40.1% 0.17 325.612), oklch(22.755% 0.10751 318.877));  
  color: #000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

}
